*.DS_Store
*.bak
venv
ch08_keras_api/checkpoint
ch08_keras_api/mnist_weights.ckpt.data-00000-of-00002
ch08_keras_api/mnist_weights.ckpt.data-00001-of-00002
ch08_keras_api/mnist_weights.ckpt.index
ch08_keras_api/model.h5
ch08_keras_api/model-savedmodel/saved_model.pb
ch08_keras_api/model-savedmodel/variables/variables.data-00000-of-00002
ch08_keras_api/model-savedmodel/variables/variables.data-00001-of-00002
ch08_keras_api/model-savedmodel/variables/variables.index
ch09/隐藏网络层数0.png
ch09/隐藏网络层数1.png
ch09/隐藏网络层数2.png
ch09/隐藏网络层数3.png
ch09/隐藏网络层数4.png
ch09/lenna_crop_central.png
ch09/lenna_crop.png
ch09/lenna_crop1.png
ch09/lenna_crop2.png
ch09/lenna_eras.png
ch09/lenna_eras2.png
ch09/lenna_flip.png
ch09/lenna_flip1.png
ch09/lenna_flip2.png
ch09/lenna_guassian.png
ch09/lenna_perspective.png
ch09/lenna_resize.png
ch09/lenna_rot1.png
ch09/lenna_rotate.png
ch09/lenna_rotate2.png
